@media (prefers-color-scheme: dark) {
body {
  background-color: #111111;
}

div {
  margin: auto;
  width: 300px;
  background: auto;
}

hr {
  border: 0;
  border-top: 1px solid #111111;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 0px;
  padding-right: 0px;
}

footer {
  background-color: #131313;
  text-align: center;
  padding-bottom: 0px;
  padding-right: 0px;
} 

h1 {
  color: #2894d0;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 2px;
}

h2 {
  color: #4ab4f4;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 2px;
  padding: 0.5em;
  padding-right: 0px;
  padding-bottom: 0px;
}

h3 {
  color: #4ab4f4;
  margin-bottom: 3px;
  padding: 0.5em;
  padding-right: 0px;
  padding-bottom: 0px;
}

h4 {
  color: #ffa1cd;
  margin-bottom: 0px;
  padding: 0.5em;
  padding-right: 0px;
  padding-bottom: 0px;
}

h5 {
  color: #4ab4f4;
  margin-bottom: 0px;
  padding: 0em;
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 15px;
}

p {
  color: #bbbbbb;
  margin-bottom: 10px;
  padding: 1em;
  padding-right: 0px;
  padding-bottom: 0px;
}

i {
  color: #bbbbbb;
  margin-bottom: 10px;
  padding: 0em;
}

b {
  color: #bbbbbb;
  padding: 0em;
}

a {
  color: #b0e0e6;
  margin-bottom: 0px;
  font-size: 13px;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

li {
  color: #bbbbbb;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
  font-size: 15px;
}

ul {
  color: #bbbbbb;
  margin-bottom: 5px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 0px;
  font-size: 12px;
}

code {
  background-color: #1c2028;
  padding: 0em;
  padding-bottom: 0px;
  padding-right: 0px;
}

pre {
  background-color: #111111;
  border: #111111;
  padding-right: 0px;
}

img {
  width: 90%;
  padding-left: 10px;
}
}

@media (prefers-color-scheme: light) {
body {
  background-color: #ffffed;
}

div {
  margin: auto;
  width: 300px;
  background: auto;
}

hr {
  border: 0;
  border-top: 1px solid #ffffed;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 0px;
  padding-right: 0px;
}

footer {
  background-color: #eeeedb;
  text-align: center;
  padding-bottom: 0px;
  padding-right: 0px;
} 

h1 {
  color: #18acff;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 2px;
}

h2 {
  color: #009fff;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 2px;
  padding: 0.5em;
  padding-right: 0px;
  padding-bottom: 0px;
}

h3 {
  color: #009fff;
  margin-bottom: 3px;
  padding: 0.5em;
  padding-right: 0px;
  padding-bottom: 0px;
}

h4 {
  color: #ff5ca8;
  margin-bottom: 0px;
  padding: 0.5em;
  padding-right: 0px;
  padding-bottom: 0px;
}

h5 {
  color: #009fff;
  margin-bottom: 0px;
  padding: 0em;
  padding-left: 5px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 15px;
}

p {
  color: #111111;
  margin-bottom: 10px;
  padding: 1em;
  padding-right: 0px;
  padding-bottom: 0px;
}

i {
  color: #111111;
  margin-bottom: 10px;
  padding: 0em;
}

b {
  color: #111111;
  padding: 0em;
}

a {
  color: #4574ef;
  margin-bottom: 0px;
  font-size: 13px;
  padding: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

li {
  color: #111111;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
  font-size: 15px;
}

ul {
  color: #111111;
  margin-bottom: 5px;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 0px;
  font-size: 12px;
}

code {
  background-color: #ffffff;
  padding: 0em;
  padding-bottom: 0px;
  padding-right: 0px;
}

pre {
  background-color: #ffffed;
  border: #ffffed;
  padding-right: 0px;
}

img {
  width: 90%;
  padding-left: 10px;
}
}
